.full-box {
  width: 100%;
  height: 100%;
}

.w-100 {
  width: 100%;
}

.h-100 {
  height: 100%;
}

.bold {
  font-weight: bold;
}

.bg {
  background-size: 100% auto;
  background-position: center;
  background-repeat: no-repeat;
}

.flex {
  display: flex;
}

.flex-row {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.flex-col {
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
}

.flex-between{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.flex-column{
  display: flex;
  flex-direction: column;
}

.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.flex-end {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.flex-1 {
  flex: 1;
}